body {
  background-color: #ff86d2 !important; 
}

.card {
  background-color: #a848b9 !important; 
  border-radius: 20px;
}

#countdown {
  font-size: 36px;
  color: #ff86d2; 
}

h1 {
  color: #ff86d2;
}